* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}
:root {
  --color-white: #ffff;
  --color-black: #000;
  --color-main: #0072f5;
}

button {
  cursor: pointer;
}

.family-members {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  @media only screen and (max-width: 600px) {
    justify-content: center;
  }
}
.family-member {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1px;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  padding: 13px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media only screen and (max-width: 600px) {
    width: 330px;
  }

  .actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    button {
      display: flex;
      flex-direction: row;
      padding: 0 5px;
      justify-content: center;
      align-items: center;
      gap: 3px;
      background: var(--color-black);
      color: var(--color-white);
      border: none;
      border-radius: 7px;
      width: 70px;
      height: 30px;
    }
  }
}
.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 100%;
  border-bottom: 2px solid var(--color-black);
  user-select: none;
}
.members {
  padding: 20px;

  h2 {
    margin-bottom: 20px;

    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
}

.members_layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  @media only screen and (max-width: 600px) {
    justify-content: center;
  }
}

.add-member-section {
  margin-left: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;

  .add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-transform: uppercase;
    border-radius: 8px;
    width: 90px;
    height: 90px;
    transition: all 0.2s ease-out;
    background: var(--color-white);
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
      svg {
        filter: drop-shadow(0 0 0.75rem var(--color-main));
      }
    }
    @media only screen and (max-width: 600px) {
      width: 330px;
      margin-right: 10px;
    }

    svg {
      width: 50px;
      height: 50px;
      transition: all 0.2s ease-out;
    }
    p {
      font-size: 17px;
    }
  }
}

.main_form {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    justify-content: center;
    background: var(--color-white);
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    input {
      width: 260px;
      border-radius: 6px;
      outline: none;
      padding: 10px;
      font-size: 16px;
      border: 1.6px solid var(--color-main);
    }

    select {
      width: 260px;
      border-radius: 6px;
      outline: none;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      border: 1.6px solid var(--color-main);
      background: var(--color-main);
      color: var(--color-white);
    }

    .button-group {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;

      button {
        width: 127px;
        color: var(--color-white);
        font-size: 16px;
        border: none;
        background: var(--color-main);
        height: 45px;
        border-radius: 6px;
      }
    }
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--color-black);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100%;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 30px 20px;
  border-radius: 6px;
  max-width: 400px;
  width: 100%;
  margin: 10px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  span {
    color: #ff0000;
  }
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  button {
    padding: 13px 24px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:nth-child(1) {
      background: var(--color-main);
    }

    &:nth-child(2) {
      background: #ff0000;
    }
  }
}

.search_bar {
  outline: none;
  border: 2px solid var(--color-main);
  padding: 13px 10px;
  border-radius: 6px;
  color: var(--color-black);
  font-size: 15px;
  width: 270px;
  margin-bottom: 14px;
}

.auth_form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  padding: 30px;
}

.auth_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.auth_button {
  display: flex;
  width: 300px;
  height: 50px;
  flex-direction: row;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 3px 0;
  background: none;
  border: none;
  gap: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  svg {
    width: 30px;
    height: 30px;
  }
}

.auth_anchor {
  text-decoration: none;
  color: var(--color-main);
}

.auth_input {
  width: 300px;
  height: 50px;
  outline: none;
  margin: 3px 0;
  padding: 0 10px;
  border-radius: 6px;
  border: 1.6px solid var(--color-main);
}
.auth_label {
  display: none;
}
